<div class="wrapper">
  <a href="https://www.ycombinator.com/apply/"
    >Applications are open for YC Summer 2023</a
  >
  <div class="yc-links">
    <a href="https://news.ycombinator.com/newsguidelines.html">Guidelines</a>
    <a href="https://news.ycombinator.com/newsfaq.html">FAQ</a>
    <a href="https://news.ycombinator.com/lists.html">Lists</a>
    <a href="https://news.ycombinator.com/security.html">Security</a>
    <a href="https://news.ycombinator.com/legal/">Legal</a>
    <a href="https://news.ycombinator.com/apply/">Apply to YC</a>
    <a href="mailto:hn@ycombinator.com">Contact</a>
  </div>
</div>
