<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<button
  mat-raised-button
  color="primary"
  aria-label="Back"
  (click)="router.navigate(['/'])"
>
  <mat-icon>arrow_back</mat-icon> Back to Stories
</button>
<div *ngIf="!isLoading">
  <div class="user-container">
    <h1 class="h2">User Profile</h1>
  </div>
  <div class="row" *ngIf="!!user; else userNotFound">
    <div class="media">
      <img
        class="align-self-start mr-5 img-thumbnail rounded-circle"
        src="/assets/default_user.png"
        alt="{{ user.id }}"
      />
      <div class="detail">
        <h1>
          User:
          <strong>{{ user.id }}</strong>
        </h1>
        <p><b>Created:</b> {{ user.created * 1000 | date }}</p>
        <p><b>Karma:</b> {{ user.karma }}</p>
        <p><b>Submitted:</b> {{ user.submitted.length }}</p>
      </div>
    </div>
  </div>
</div>

<ng-template #userNotFound>
  <p style="text-align: center">User Not Found</p>
</ng-template>
