button {
    margin: 1rem;
}
.user-container {
    text-align: center;

    h1 {
        font-size: 2rem;
    }
}

.row {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        font-size: smaller;
    }
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    @media screen and (min-width: 768px) {
        flex-direction: row;
    }

    img {
        border-radius: 50%;
        max-width: 12rem;
        max-height: 12rem;
        margin-bottom: 1rem;

        @media screen and (min-width: 768px) {
            margin-bottom: 0;
            margin-right: 1.5rem;
        }
    }

    .detail {
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: left;
        }

        h1 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        p {
            margin: 0.5rem 3px;
        }
    }
}
