<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<cdk-virtual-scroll-viewport
  (scrolledIndexChange)="getScrollIndex($event)"
  itemSize="30"
  class="scroll-viewport"
>
  <ng-container
    *cdkVirtualFor="let story of stories; index as i; templateCacheSize: 0"
  >
    <div class="content">
      <span class="title"
        >{{ i + 1 }}.<a href="{{ story.url }}">
          {{ story.title }} <mat-icon>launch</mat-icon></a
        ></span
      >
      <div class="description">
        <span>Posted</span>
        <!-- Date Time -->
        <span [matTooltip]="showDateTime(story.time)"
          >{{ story.time * 1000 | dateTimeAgo }}
        </span>
        <span>by</span>
        <!-- User -->
        <span>
          <a><mat-icon>person</mat-icon>{{ story.by }}</a>
        </span>
        <!-- point -->
        <span>
          <mat-icon>grade</mat-icon>{{ story.score }}
          {{ story.score > 1 ? "points" : "point" }}
        </span>
      </div>
      <div class="spacer"></div>
    </div>
  </ng-container>
</cdk-virtual-scroll-viewport>

<button
  mat-mini-fab
  [ngClass]="isTop ? 'hide' : 'show'"
  class="back-to-top show"
  color="primary"
  (click)="backToTop()"
  aria-label="back to top"
  matTooltip="Scroll back to top"
>
  <mat-icon>arrow_upward</mat-icon>
</button>
