@import '~@angular/material/theming';
@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */
$mat-orange: (
    50 : #fef0e0,
    100 : #fed9b3,
    200 : #fdc080,
    300 : #fca74d,
    400 : #fb9426,
    500 : #fa8100,
    600 : #f97900,
    700 : #f96e00,
    800 : #f86400,
    900 : #f65100,
    A100 : #ffffff,
    A200 : #ffefea,
    A400 : #ffcab7,
    A700 : #ffb79d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$mat-white: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$mat-blue: (
    50 : #e4eefc,
    100 : #bad5f8,
    200 : #8db9f4,
    300 : #5f9def,
    400 : #3c88eb,
    500 : #1a73e8,
    600 : #176be5,
    700 : #1360e2,
    800 : #0f56de,
    900 : #0843d8,
    A100 : #ffffff,
    A200 : #cfdaff,
    A400 : #9cb3ff,
    A700 : #829fff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


// Define your custom theme colors
$my-custom-primary: mat-palette($mat-blue);
$my-custom-accent: mat-palette($mat-pink, 100, 500, A100);
$my-custom-warn: mat-palette($mat-lime);
$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);
@include angular-material-theme($my-custom-theme);
